{% extends 'dashboard_layout.html' %}

{% block title %}Usage{% endblock %}

{% block main %}
<section id="main-content" hx-disinherit="*" hx-swap="innerHTML">
  <div class="section-header flex-h flex-between" style="border-top: 1px solid var(--background-surface-hover); border-bottom: 1px solid var(--background-surface-hover); padding-block: 1rem;">
  <h1>Usage</h1>
  <form 
    class="flex-h flex-end gap-2"
    method="POST"
    action="analyze/"
    hx-post="analyze/"
    hx-target="#analysis-section"
    hx-trigger="input"
    hx-swap="outerHTML"
    >
    {% csrf_token %}
    {{ form }}
  </form>
  </div>
  <div id="analysis-section"></div>
</section>
{% endblock %}
