{% extends 'dashboard_layout.html' %}

{% block title %}Usage{% endblock %}

{% block main %}
<section id="main-content" hx-disinherit="*" hx-swap="innerHTML">
  <div class="section-header flex-h flex-between" style="border-top: 1px solid var(--background-surface-hover); border-bottom: 1px solid var(--background-surface-hover); padding-block: 1rem;">
  <h1>Usage</h1>
  <form 
    class="flex-h flex-end gap-2"
    method="POST"
    action="analyze/"
    hx-post="analyze/"
    hx-target="#analysis-section"
    hx-trigger="change from:#id_consumable_name"
    hx-swap="innerHTML"
    >
    {% csrf_token %}
    {{ form }}
  </form>
  </div>
  <div id="analysis-section"> This is really here</div>
</section>
<script defer>
document.addEventListener("htmx:beforeSwap", function(evt) {
  console.log(evt)
  console.log(evt.detail)
  console.log(evt.detail.target)
  console.log(evt.detail.target.id)
  console.log(evt.detail.serverResponse)
})
</script>
{% endblock %}
