# Client CSV directories
iss-data/



# python
__pycache__
.micromamba
bin/
include/
lib64/
lib/
venv/
pyvenv.cfg
*.pyc
*__pycache__
.pytest_cache
venv
.venv
.ipynb_checkpoints

# Test coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover


# environment
.env
.env.*
!.env.testing

# npm
node_modules
package-lock.json

# misc
.vscode
**/*.DS_Store

# compiled assets
storage/compiled
prototypes/djangoserver/djangoserver/__init__.py
prototypes/djangoserver/db.sqlite3

# project specific
server/barrios/media/uploads
