convert-case==1.2.3
coverage==7.3.2
django==4.2.7
django-coverage-plugin==3.1.0 
psycopg2-binary==2.9.9
pandas==2.1.1
psycopg2-binary==2.9.9
pycases==0.1.1
pytest==7.4.2
pytest-watch==4.2.0
sqlalchemy==2.0.23
