:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #091D41;
  --blue-lighter: #0B2451;
  --green: #C6E975;
  --green-darker: #b7da65;
  --chart-magenta: #FF00FF;
  --chart-yellow: #E3E668;
  --chart-gray: #9E9E9E;

  --background: var(--blue);
  --foreground: var(--white);
  --accent: var(--green);
  --hover: var(--green-darker);

  --font-display: 'Montserrat',
    --font-body: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}


/* SVG Icon Styles 
* These rules are made to be applied to an SVG element with a class of 'icon'.
* They allow you to add the svg to a parent element, an anchor, for example. Setting
* the font-size of that parent element will dictate the size of the SVG icon. Additionally
* the icon's color will match the color of the parent element.
*
* All svg icons can be found in the public/icons directory. They have been set up for use
* as described above.
*/
.icon {
  color: currentColor;
  width: 1em;
  height: 1em;
  overflow: visible;
}

/*
* Link with icon.
* Structure:
* <a href="/dashboard">
*   <svg class="icon".../>
*   Dashboard
* </a>
*/
.icon-link {
  display: flex;
  gap: 0.5em;
  align-items: center;
}