{% extends 'dashboard_layout.html' %}

{% block title %}Data{% endblock %}


{% block main %}
 <section id="main-content" class="flex-v gap-2">
   <h1>Data</h1>
   <h2>Your Data</h2>
   <div class="data-grid gap-2">
     {% for data_type in data %}
     {% if data_type.count > 0 %}
        <a href="/data/{{ data_type.ref }}" class="list-item card flex-v gap-1">
            <span class="flex-h txt-xlarge">
              {% include 'assets/icons/table.svg' %}
            </span>
            <p>
              {{ data_type.name }}
            </p>
        </a>
    {% else %}
      {% with label=data_type.name %}
          {% include 'components/miniuploadform.html' %}
      {% endwith %}

    {% endif %}
    {% endfor %}
   </div>
   <!-- <h2>Your Files</h2> -->
   <!-- <div class="data-grid gap-2"> -->
   <!--   {% if uploads|length > 0 %} -->
   <!--   {% for upload in uploads %} -->
   <!--      <a href="/data/files/{{ upload.id }}" class="list-item card flex-v gap-1"> -->
   <!--        <span class="flex-h txt-xlarge"> -->
   <!--          {% include 'assets/icons/file.svg' %} -->
   <!--        </span> -->
   <!--        <p>{{ upload.name }}</p> -->
   <!--        <p>{{ upload.upload_date }}</p> -->
   <!--      </a> -->
   <!--   {% endfor %} -->
   <!--   {% endif %} -->
   <!-- </div> -->

</section>
{% endblock %}
