{% if page_obj.paginator.num_pages > 1 %}
{% include 'components/pagination_menu.html' %}
{% endif %}
<table class="file-table">
  <thead>
    <tr>
      {% for colname in column_names %}
      <th>{{ colname }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in page_obj %}
    <tr>
      {% for val in row %}
      <td>{{ val }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if page_obj.paginator.num_pages > 1 %}
{% include 'components/pagination_menu.html' %}
{% endif %}
