<div class="card-header flex-h flex-between">
  <h2>Latest Forecasts</h2>
  <ul class="flex-h menu-h flex-end">
    <li>
      {% if current == "ACY Insert" %}
      <button hx-post="/forecast/ACY Insert/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s" disabled="true">
        ACY Insert
      </button>
      {% else %}
      <button hx-post="/forecast/ACY Insert/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s">
        ACY Insert
      </button>
      {% endif %}
    </li>
    <li>
      {% if current == "KTO" %}
      <button hx-post="/forecast/KTO/" hx-target="#forecast-plot" hx-swap="innerHTML" hx-trigger="click delay:0.2s"
        disabled="true">
        KTO
      </button>
      {% else %}
      <button hx-post="/forecast/KTO/" hx-target="#forecast-plot" hx-swap="innerHTML" hx-trigger="click delay:0.2s">
        KTO
      </button>
      {% endif %}
    </li>
    <li>
      {% if current == "Pretreat Tanks" %}
      <button hx-post="/forecast/Pretreat Tanks/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s" disabled="true">
        Pretreat Tanks
      </button>
      {% else %}
      <button hx-post="/forecast/Pretreat Tanks/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s">
        Pretreat Tanks
      </button>
      {% endif %}
    </li>
    <li>
      {% if current == "Filter Inserts" %}
      <button hx-post="/forecast/Filter Inserts/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s" disabled="true">
        Filter Inserts
      </button>
      {% else %}
      <button hx-post="/forecast/Filter Inserts/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s">
        Filter Inserts
      </button>
      {% endif %}
    </li>
    <li>
      {% if current == "Urine Receptacle" %}
      <button hx-post="/forecast/Urine Receptacle/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s" disabled="true">
        Urine Receptacle
      </button>
      {% else %}
      <button hx-post="/forecast/Urine Receptacle/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s">
        Urine Receptacle
      </button>
      {% endif %}
    </li>
    <li>
      {% if current == "EDVs" %}
      <button hx-post="/forecast/EDVs/" hx-target="#forecast-plot" hx-swap="innerHTML" hx-trigger="click delay:0.2s"
        disabled="true">
        EDVs
      </button>
      {% else %}
      <button hx-post="/forecast/EDVs/" hx-target="#forecast-plot" hx-swap="innerHTML" hx-trigger="click delay:0.2s">
        EDVs
      </button>
      {% endif %}
    </li>
    <li>
      {% if current == 'O2 (Oxygen)' %}
      <button hx-post="/forecast/O2 (Oxygen)/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s" disabled="true">
        O2
      </button>
      {% else %}
      <button hx-post="/forecast/O2 (Oxygen)/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s">
        O2
      </button>
      {% endif %}
    </li>
    <li>
      {% if current == "N2 (Nitrogen)" %}
      <button hx-post="/forecast/N2 (Nitrogen)/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s" disabled="true">
        N2
      </button>
      {% else %}
      <button hx-post="/forecast/N2 (Nitrogen)/" hx-target="#forecast-plot" hx-swap="innerHTML"
        hx-trigger="click delay:0.2s">
        N2
      </button>
      {% endif %}
    </li>
    <li>
      {% if current == "Water Alert" %}
      <button hx-post="/forecast/water/" hx-target="#forecast-plot" hx-swap="innerHTML" hx-trigger="click delay:0.2s"
        disabled="true">
        Water
      </button>
      {% else %}
      <button hx-post="/forecast/water/" hx-target="#forecast-plot" hx-swap="innerHTML" hx-trigger="click delay:0.2s">
        Water
      </button>
      {% endif %}
    </li>
  </ul>
</div>
{% autoescape off %}
{{forecast_plot|safe}}
{% endautoescape %}
