<div class="card list-item hover-surface surface relative-parent flex-v flex-center">
  <form hx-post="/data/files/upload/" hx-trigger="change" hx-encoding="multipart/form-data" action="/data/files/upload/"
    method="post" hx-target="#main-content" hx-select="#main-content" hx-indicator="#upload-spinner">
    {% csrf_token %}
    <div class="stacked flex-v flex-center gap-1">
      <input type="file" name="file" id="data-upload" />
      <span style="font-weight: 800;">No Data</span>
      {% include 'assets/icons/upload.svg' %}
      <label for="data-upload" style="font-size: 1rem; font-weight: 800; text-transform: unset;">
        {{ label }}
      </label>
    </div>
  </form>
</div>
