<aside class="sidebar" hx-boost="true" hx-target="#main-content" hx-select="#main-content"
  hx-swap="outerHTML transition:true show:body:top">
  <nav aria-label="Main Navigation">
    <a href=" /dashboard">
      {% include 'assets/images/barrios_logo.svg' %}
    </a>
    <ul>
      <li>
        <a href="/dashboard/" class="icon-link">
          {% include 'assets/icons/dashboard.svg' %}
          Dashboard
        </a>
      </li>
      <li>
        <a href="/usage/" class="icon-link">
          {% include 'assets/icons/ruler.svg' %}
          Usage
        </a>
      </li>
      <li>
        <a href="/optimization/" class="icon-link">
          {% include 'assets/icons/box.svg' %}
          Optimization
        </a>
      </li>
      <li>
        <a href="/forecast/" class="icon-link">
          {% include 'assets/icons/chart.svg' %}
          Forecast
        </a>
      </li>
      <li>
        <a href="/data/" class="icon-link">
          {% include 'assets/icons/data.svg' %}
          Data
        </a>
      </li>
    </ul>
  </nav>
  <div class="flex-v gap-3">
    {% include 'components/analysisform.html' %}
    {% include 'components/uploadform.html' %}
  </div>
  <nav aria-label="User Menu" class="flex-v flex-end">
    <ul class="flex-end">
      <li>
        <a href="/accounts/profile/" class="icon-link">
          {% include 'assets/icons/user.svg' %}
          Profile
        </a>
      </li>
      {% if request.user.is_superuser %}
      <li>
        <a href="/admin/" class="icon-link" hx-boost="false">
          {% include 'assets/icons/admin.svg' %}
          Admin
        </a>
      </li>
      {% endif %}
      <li>
        <a href="/accounts/logout/" hx-boost="false" class="icon-link">
          {% include 'assets/icons/logout.svg' %}
          Log Out
        </a>
      </li>
    </ul>
  </nav>
  {% load static %}
  <script src="{% static 'scripts/menu-update.js' %}" defer></script>
</aside>
