<aside class="sidebar" hx-boost="true" hx-target="#main-content" hx-select="#main-content"
  hx-swap="outerHTML transition:true show:body:top">
  <a href=" /dashboard">
    {{ include 'assets/images/barrios_logo.svg' }}
  </a>
  <nav aria-label="Main Navigation">
    <ul>
      <li>
        <a href="/dashboard" class="icon-link">
          {{ include 'assets/icons/dashboard.svg' }}
          Dashboard
        </a>
      </li>
      <li>
        <a href="/usage" class="icon-link">
          {{ include 'assets/icons/chart.svg' }}
          Usage Analysis
        </a>
      </li>
      <li>
        <a href="/forecast" class="icon-link">
          {{ include 'assets/icons/list.svg' }}
          Resupply Predictions
        </a>
      </li>
      <li>
        <a href="/flightplan" class="icon-link">
          {{ include 'assets/icons/rocket.svg' }}
          Detailed Flight Plan
        </a>
      </li>
      <li>
        <a href="/userdata" class="icon-link">
          {{ include 'assets/icons/data.svg' }}
          Data
        </a>
      </li>
    </ul>
  </nav>
  {{ include 'components/uploadform.html' }}
  <progress id='progress' value='0' max='100'></progress>
  <script>
    htmx.on('#upload-form', 'htmx:xhr:progress', function (evt) {
      console.log(evt.detail)
      htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
    });
  </script>
</aside>
