{% extends 'dashboard_layout.html' %}

{% block title %}Optimization{% endblock %}

{% block main %}
<section id="main-content" hx-disinherit="*">
  <div class="section-header flex-h flex-between">
  <h1>Optimization</h1>
  {% include 'components/spinner.html' %}
  <div class="flex-h gap-2">
    <a href="/optimization/missions/" hx-get="/optimization/missions/" hx-target="#analysis-section" hx-trigger="load once, click" hx-swap="outerHTML" hx-indicator="#spinner" class="button header-button">View Missions</a>
    <a href="/optimization/consumables/" hx-get="/optimization/consumables/" hx-target="#analysis-section" hx-swap="outerHTML" hx-indicator="#spinner" class="button header-button">View Consumables</a>
  </div>
  </div>
  <div id="analysis-section"></div>
</section>

{% endblock %}
