{% extends 'dashboard_layout.html' %}

{% block title %}Optimization{% endblock %}

{% block main %}
<section id="main-content" hx-disinherit="*">
  <div class="section-header flex-h flex-between">
  <h1>Optimization</h1>
  <form 
    class="flex-h flex-end gap-2"
    method="POST"
    action="analyze/"
    hx-post="analyze/"
    hx-target="#analysis-section"
    hx-trigger="input, load once"
    hx-swap="outerHTML"
    >
    {% csrf_token %}
    {{ form }}
  </form>
  </div>
  <div id="analysis-section" class="grid gap-2" style="grid-template-columns: repeat(2, 1fr);">
    {% for mission in missions %}
      <article class="flex-v gap-05 surface">
        <div class="article-header">
          <h3 class="txt-large">{{mission.vehicle_name}}</h3>
          <h4>{{mission.event_date}}</h4>
        </div>
        <table>
          <thead>
            <th>Consumable</th>
            <th>Amount</th>
          </thead>
          {% for key, value in mission.items %}
          <tr>
            {% if key != 'event_date' and key != 'vehicle_name' %}
            <td>{{key}}</td>
            <td>{{value}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </article>
    {% endfor %}
  </div>
</section>

{% endblock %}
