{% extends 'dashboard_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
<section id="main-content" class="flex-v gap-2">
  <div class="row grid grid-column-2 gap-2">
    <a class="surface flex-v" href="/usage/">
      <div class="card-header flex-h flex-between">
        <h2>Usage</h2>
        <div class="txt-large">
        {% include  'assets/icons/data.svg'%}
        </div>
      </div>
      <div class="flex-v flex-center gap-2" style="height: 100%;">
      <div class="flex-h gap-1 flex-center">
        <span style="font-size: 8rem; font-weight: 800;">
          {{ usage_difference }}%
        </span>
        {% include 'assets/images/arrow.svg' %}
      </div>
      <span class="txt-xlarge flex-h flex-center" style="font-weight: 800; text-transform: uppercase; color: var(--accent);">
          Below Predictions
      </span>
      </div>
    </a>
    <a href="/optimization/" class="surface flex-v gap-1">
      <div class="card-header flex-h flex-between">
        <h2>Next Launch Optimization</h2>
        <div class="txt-large">
        {% include 'assets/icons/ruler.svg' %}
        </div>
      </div>
      <div class="flex-v gap-05">
        <h3>{{last_optimization.launch_name}}</h3>
        <date>{{last_optimization.launch_date}}</date>
      </div>
      <table>
          <thead>
            <th>Consumable</th>
            <th>Amount</th>
          </thead>
          {% for item in last_optimization.payload %}
          <tr>
            <td>{{item.name}}</td>
            <td>
              {{item.amount}}
              {% if item.unit != item.name %}
              {{item.unit}}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
    </a>
  </div>
  <div class="row flex-v gap-1" hx-ext="debug">
    <div class="flex-h flex-between">
    <h2>Latest Forecasts</h2>
    <ul class="flex-h menu-h flex-end">
      <li>
        <button
          hx-post="/forecast/ACY Insert/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="load, click delay:0.2s">
          ACY Insert
        </button>
      </li>
      <li>
        <button
          hx-post="/forecast/KTO/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="click delay:0.2s">
          KTO
        </button>
      </li>
      <li>
        <button
          hx-post="/forecast/Pretreat Tanks/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="click delay:0.2s">
          Pretreat Tanks
        </button>
      </li>
      <li>
        <button
          hx-post="/forecast/Filter Inserts/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="click delay:0.2s">
          Filter Inserts
        </button>
      </li>
      <li>
        <button
          hx-post="/forecast/Urine Receptacle/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="click delay:0.2s">
          Urine Receptacle
        </button>
      </li>
      <li>
        <button
          hx-post="/forecast/EDVs/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="click delay:0.2s">
          EDVs
        </button>
      </li>
      <li>
        <button
          hx-post="/forecast/O2 (Oxygen)/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="click delay:0.2s">
          O2
        </button>
      </li>
      <li>
        <button
          hx-post="/forecast/N2 (Nitrogen)/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="click delay:0.2s">
          N2
        </button>
      </li>
      <li>
        <button
          hx-post="/forecast/Water Alert/"
          hx-target="#forecast-plot"
          hx-swap="outerHTML"
          hx-trigger="click delay:0.2s">
          Water
        </button>
      </li>
    </ul>
    </div>
    <div id="forecast-plot"></div>
  </div>
</section>

{% endblock %}
